* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* Colores */
/* Paquetes de variables */
/* Grid Center */
.formulario fieldset {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav-footer, .redes-footer, footer, .img_nosotros, .div_productos, .cont-hr {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* Sombras */
.campo textarea, .campo .form-input {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0.5px 1px 0 rgba(0, 0, 0, 0.24);
}

.map {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.28);
}

.formulario {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.28), 0 0.5px 1px 0 rgba(0, 0, 0, 0.32);
}

.boton-contacto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.48), 0 2px 4px 0 rgba(0, 0, 0, 0.52), 0 1px 2px 0 rgba(0, 0, 0, 0.56);
}

.boton-contacto:hover {
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.48), 0 1px 2px 0 rgba(0, 0, 0, 0.52), 0 0.5px 1px 0 rgba(0, 0, 0, 0.56);
}

body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  margin-top: 5.1rem;
}

@media (max-width: 992px) {
  body {
    margin-top: 4.3rem;
  }
}
h1 {
  width: 62.5%;
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  color: #006699;
  letter-spacing: 1.5px;
  margin: 1.3rem auto;
  text-align: center;
  word-spacing: 0.3rem;
  text-shadow: 0 0 1.4px #1B2631;
}

.titulo-secciones {
  transition: all 0.1s linear;
  margin-top: 7.2rem;
}

@media (max-width: 992px) {
  .titulo-secciones {
    margin-top: 6rem;
  }
}
.titulo-secciones:hover {
  transform: scale(1.025);
  color: #003366;
}

@media (max-width: 1600px) {
  .titulo-index, .titulo-secciones {
    font-size: 1.62rem;
  }
}
@media (max-width: 1200px) {
  .titulo-index, .titulo-secciones {
    font-size: 1.54rem;
  }
}
.cont-hr {
  margin-bottom: 0.5rem;
}

.texto_parrafo {
  font-size: 0.95rem;
  color: #4b4b4b;
}

@media (max-width: 1440px) {
  .texto_parrafo {
    transform: scale(0.95);
  }
}
/* CSS de Navegacion */
.sticky-nav a {
  color: #F7F9F9;
  transition: all 0.15s linear;
}
.sticky-nav a:hover {
  color: #FFCC00;
}

@media (max-width: 1200px) {
  .sticky-nav .nav-item a {
    transform: scale(0.95);
  }
}
body {
  top: 0;
}

.sticky-nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  opacity: 0.95;
  top: 0px;
  padding: 0px;
  background-image: radial-gradient(circle at center center, rgba(255, 255, 255, 0), #012e6b), repeating-linear-gradient(405deg, #012e6b 0px, #012e6b 1px, transparent 1px, transparent 4px), repeating-linear-gradient(315deg, #0a4065 0px, #0a4065 5px, transparent 5px, transparent 6px), linear-gradient(360deg, #012e6b, #012e6b);
}

.dropdown-menu, .dropdown-item {
  background-image: radial-gradient(circle at center center, rgba(255, 255, 255, 0), #012e6b), repeating-linear-gradient(405deg, #012e6b 0px, #012e6b 1px, transparent 1px, transparent 4px), repeating-linear-gradient(315deg, #0a4065 0px, #0a4065 5px, transparent 5px, transparent 6px), linear-gradient(360deg, #012e6b, #012e6b);
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #F7F9F9;
  margin-left: 6%;
}

.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #F7F9F9;
}

.navbar-toggler span + span {
  margin-top: 4px;
  width: 22px;
}

.navbar-toggler span + span + span {
  width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.2rem 1.2rem;
  font-size: 1.2rem;
  position: relative;
}
@media (max-width: 1600px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.2rem 1.1rem;
  }
}
@media (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.2rem 0.9rem;
  }
}

/* Bootstrap Slider */
.slider {
  z-index: 0;
}

.prev-img {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 5%;
}

.next-img {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 5%;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .prev-img, .next-img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
@media (min-width: 753px) and (max-width: 1200px) {
  .prev-img, .next-img {
    width: 2.3rem;
    height: 2.3rem;
  }
}
@media (max-width: 753px) {
  .slider, .slide, .carousel {
    display: none;
  }
}
/* Titulo Index */
.titulo-index {
  transition: all 0.1s linear;
}

.primer-titulo {
  margin-top: 1.9rem;
}
@media (max-width: 753px) {
  .primer-titulo {
    margin-top: 6.1rem;
  }
}

.titulo-index:hover {
  transform: scale(1.025);
  color: #003366;
}

/* Hr Index */
.hr-index {
  width: 68%;
  border: 0;
  height: 0.7px;
  opacity: 0.08;
  color: #1B2631;
  box-shadow: 1.2px 1.2px 1.2px #1B2631;
}
@media (max-width: 1600px) {
  .hr-index {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  .hr-index {
    width: 70%;
  }
}
@media (max-width: 1100px) {
  .hr-index {
    width: 75%;
  }
}
@media (max-width: 950px) {
  .hr-index {
    width: 87.5%;
  }
}
@media (max-width: 753px) {
  .hr-index {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .hr-index {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .hr-index {
    width: 80%;
  }
}

/* Productos */
.productos {
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1600px) {
  .productos {
    width: 75%;
  }
}
@media (max-width: 1100px) {
  .productos {
    width: 80%;
  }
}
@media (max-width: 950px) {
  .productos {
    width: 95%;
  }
}

.div_productos {
  flex-wrap: row;
  width: calc(100%/4);
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1600px) {
  .div_productos {
    width: calc(100%/3);
  }
}
@media (max-width: 1200px) {
  .div_productos {
    width: calc(100%/2);
    max-width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .div_productos {
    width: calc(100%/1);
    margin-bottom: 1.5rem;
  }
}

.productos .div_productos span {
  width: 100%;
  overflow: hidden;
  display: grid;
  row-gap: 1.85rem;
}

.productos .div_productos img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.45s ease;
  margin: 0 0.4rem;
}

.productos .div_productos:hover img {
  transform: scale(1.05);
}

.textoproductos {
  margin: 0 1.5rem;
  font-size: 0.78rem;
  font-weight: 500;
  text-align: center;
  transition: all 0.4s ease;
}

.div_productos:hover .textoproductos {
  color: #006699;
  font-size: 0.81rem;
  text-shadow: 0.05px 0.05px 0.1px #515A5A;
}
.div_productos:hover .textoprecio {
  font-size: 0.95rem;
}

.textoprecio {
  padding: auto;
  font-size: 0.9rem;
  color: #d7292b;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  transition: all 0.4s ease;
}

/* CSS de Preguntas Frecuentes */
.titulo-preguntas {
  font-size: 1.2rem;
  font-weight: 600;
  color: #CB4335;
  line-height: 3.6rem;
  text-align: left;
}

.hr-preg {
  width: 75%;
  border: 0;
  height: 0.9px;
  opacity: 0.1;
  color: #1B2631;
  box-shadow: 1.5px 1.5px 1.5px #1B2631;
}

@media (min-width: 650px) and (max-width: 768px) {
  .hr-preg {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .hr-preg {
    width: 85%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .hr-preg {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .hr-preg {
    width: 75%;
  }
}
.cont-preguntas {
  margin-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont-preguntas {
  width: 75%;
}

@media (min-width: 650px) and (max-width: 768px) {
  .cont-preguntas {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .cont-preguntas {
    width: 85%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .cont-preguntas {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .cont-preguntas {
    width: 75%;
  }
}
@media (max-width: 1440px) {
  .titulo-preguntas {
    font-size: 1.08rem;
  }
}
/* CSS de Nosotros */
.container-nosotros {
  width: 68%;
}
@media (max-width: 1440px) {
  .container-nosotros {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .container-nosotros {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container-nosotros {
    width: 95%;
  }
}

.parrafo-nosotros {
  margin-bottom: 2rem;
}

/* CSS de Contacto */
.cont-contacto {
  width: 100%;
  margin-top: 1.9rem;
}

.formulario {
  background-image: repeating-linear-gradient(67.5deg, rgba(249, 248, 248, 0.2) 0px, rgba(249, 248, 248, 0.2) 0px, transparent 0px, transparent 1px, rgba(249, 248, 248, 0.2) 1px, rgba(249, 248, 248, 0.2) 4px, transparent 4px, transparent 5px, rgba(249, 248, 248, 0.2) 5px, rgba(249, 248, 248, 0.2) 8px), repeating-linear-gradient(0deg, rgba(249, 248, 248, 0.2) 0px, rgba(249, 248, 248, 0.2) 0px, transparent 0px, transparent 1px, rgba(249, 248, 248, 0.2) 1px, rgba(249, 248, 248, 0.2) 4px, transparent 4px, transparent 5px, rgba(249, 248, 248, 0.2) 5px, rgba(249, 248, 248, 0.2) 8px), linear-gradient(135deg, #d7dbdd, #d7dbdd);
  margin: 0 16% 2rem 16%;
  padding: 1.5rem;
  border-radius: 0.2rem;
}
@media (max-width: 1200px) {
  .formulario {
    margin: 0 12% 2rem 12%;
  }
}
@media (max-width: 992px) {
  .formulario {
    margin: 0 4% 2rem 4%;
  }
}

.formulario legend {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #1B2631;
  letter-spacing: 0.04rem;
}
@media (max-width: 992px) {
  .formulario legend {
    transform: scale(0.92);
  }
}
@media (max-width: 1200px) {
  .formulario legend {
    transform: scale(0.95);
  }
}

.formulario fieldset {
  border: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #CB4335;
}

.campo legend {
  color: #FBFCFC;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo .form-input {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.35rem;
}

.campo:nth-child(5) {
  grid-column: 1/3;
}

.campo textarea {
  width: 100%;
  height: 20rem;
  border: none;
  padding: 1.5rem;
  border-radius: 0.35rem;
}

.cont-bot-contacto {
  width: 25%;
  margin: 0 auto;
}

.boton-contacto {
  background-image: radial-gradient(circle at center center, rgba(255, 255, 255, 0), #012e6b), repeating-linear-gradient(405deg, #012e6b 0px, #012e6b 1px, transparent 1px, transparent 4px), repeating-linear-gradient(315deg, #0a4065 0px, #0a4065 5px, transparent 5px, transparent 6px), linear-gradient(360deg, #012e6b, #012e6b);
  opacity: 0.9;
  color: #FBFCFC;
  margin-top: 1.2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  width: 100%;
  border: none;
  padding: 1rem;
}
.boton-contacto:hover {
  color: #FFCC00;
  transition: all 0.15s linear;
}

/* CSS del Footer */
footer {
  width: 100%;
  background-image: radial-gradient(circle at center center, rgba(255, 255, 255, 0), #012e6b), repeating-linear-gradient(405deg, #012e6b 0px, #012e6b 1px, transparent 1px, transparent 4px), repeating-linear-gradient(315deg, #0a4065 0px, #0a4065 5px, transparent 5px, transparent 6px), linear-gradient(360deg, #012e6b, #012e6b);
}

.parrafo-footer {
  font-size: 0.8rem;
  font-weight: 300;
  color: #F7F9F9;
}

/* CSS del Mapa */
.map {
  margin-top: 1.4rem;
  border-radius: 0.35rem;
}

/* CSS de Redes Sociales */
.mov-red-wapp, .mov-red-fb, .mov-red-ins {
  transition: all 0.85s linear;
}

.mov-red-wapp:hover {
  position: relative;
  bottom: 0.3rem;
  right: 0.3rem;
}

.mov-red-fb:hover {
  position: relative;
  bottom: 0.3rem;
}

.mov-red-ins:hover {
  position: relative;
  bottom: 0.3rem;
  left: 0.3rem;
}

/* Nav del Footer */
.cont-nav-footer {
  width: 100%;
  margin: 0 auto;
}

.nav-footer a {
  color: #F7F9F9;
  text-decoration: none;
  font-size: 0.98rem;
  font-weight: 400;
  padding: 0.8rem;
  transition: all 0.15s linear;
}

.nav-footer a:hover {
  color: #FFCC00;
  text-shadow: 0 0 2px #003366;
}

/*# sourceMappingURL=style.css.map */
