/* Hr Index */

.hr-index {
    width: 70%;
    border: 0;
    height: 0.9px;
    opacity: 0.2;
    color: $oscuro;
    box-shadow: 1.5px 1.5px 1.5px $oscuro;
}

@media (min-width: 650px) and (max-width: 768px) {
    .hr-index {
        width: 85%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .hr-index {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .hr-index {
        width: 85%;
    }
}

@media (min-width: 1440px) {
    .hr-index {
        width: 70%;
    }
}