/* Nav del Footer */

.cont-nav-footer {
    width: 100%;
    margin: 0 auto;
}

.nav-footer {
    @extend %flex-center;
}

.nav-footer a {
    color: $blanco;
    text-decoration: none;
    font-weight: 300;
    padding: 0.8rem;
    transition: all 0.15s linear;
}

.nav-footer a:hover {
    color: $dorado;
    text-shadow: 0 0 2px $azuloscuro;
}