/* Colores */    
    
$semiblanco: #FBFCFC;
$blanco: #F7F9F9;
$grisclaro: #E5E7E9;
$gristenue: #D7DBDD;
$grisoscuro: #515A5A;
$grisoscurodos: #2F3640;
$oscuro: #1B2631;
$azuloscuro: #003366;
$azulprimario: #006699;
$azulsecundario: #0074bd;
$parrafo: #4b4b4b;
$verde: #006666;
$dorado: #FFCC00;
$doradooscuro: #D4AC0D;

$rojo: #d7292b;
$rojooscuro: #CB4335;