
// CSS generales

body {
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    margin-top: 5.1rem;
    // background-color: $blanco;
}

@media (max-width: 992px) {
    body {
        margin-top: 4.3rem;
    }
}

h1 {
    width: 62.5%;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: normal;
    color: $azulprimario;
    letter-spacing: 1.5px;
    margin: 1.3rem auto;
    text-align: center;
    word-spacing: 0.3rem;
    text-shadow: 0 0 1.4px $oscuro;
}

.titulo-secciones {
    transition: all 0.10s linear;
    margin-top: 7.2rem;
}

@media (max-width: 992px) {
    .titulo-secciones {
        margin-top: 6rem;
    }
}

.titulo-secciones:hover {
    transform: scale(1.025);
    color: $azuloscuro;
}

@media (max-width: 1600px) {
    .titulo-index, .titulo-secciones {
        font-size: 1.62rem;
    }
}

@media (max-width: 1200px) {
    .titulo-index, .titulo-secciones {
        font-size: 1.54rem;
    }
}

.cont-hr {
    @extend %flex-center;
    margin-bottom: 0.5rem;
}

.texto_parrafo {
    font-size: 0.95rem;
    color: $parrafo;
}

@media (max-width: 1440px) {
    .texto_parrafo {
        transform: scale(0.95);
    }
}