/* CSS de Navegacion */


.cont-nav-principal {
    width: 100%;
    height: 3.48rem;
    background-image: radial-gradient(circle at center center, rgba(255,255,255, 0),rgb(1,46,107)),repeating-linear-gradient(405deg, rgb(1,46,107) 0px, rgb(1,46,107) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(315deg, rgb(10,64,101) 0px, rgb(10,64,101) 5px,transparent 5px, transparent 6px),linear-gradient(360deg, rgb(1,46,107),rgb(1,46,107));
}

@media (min-width: 480px) {
    .cont-nav-principal a , .carro {
        transform: scale(0.8);
    }
}

@media (min-width: 700px) {
    .cont-nav-principal a , .carro {
        transform: scale(0.85);
        padding: 0.15rem;
    }
}

@media (min-width: 800px) and (max-width: 1529px) {
    .cont-nav-principal a, .carro {
        transform: scale(0.88);
        padding: 0.5rem;
    }
}

@media (min-width: 1530px) {
    .cont-nav-principal a, .carro {
        transform: scale(1);
    }
}

.cont-nav {
    width: 70%;
}

@media (min-width: 650px) and (max-width: 768px) {
    .cont-nav {
        width: 85%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .cont-nav {
        width: 80%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .cont-nav {
        width: 75%;
    }
}

@media (min-width: 1440px) {
    .cont-nav {
        width: 70%;
    }
}

.cont-nav-principal a {
    color: $blanco;
    text-decoration: none;
    font-weight: 700;
    margin: auto 1rem;
    transition: all 0.15s linear;
}

.cont-nav-principal a:hover {
    color: $dorado;
    text-shadow: 0 0 2px $azuloscuro;
}

.carro {
    z-index: 1;
    position: absolute;
    right: 2%;
    margin: auto 0;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .carro {
        right: 0;
    }
}