
/* CSS de Navegacion */

    .sticky-nav a {
        color: $blanco;
        transition: all 0.15s linear;

        &:hover {
            color: $dorado;
        }
    }

    @media (max-width: 1200px) {
        .sticky-nav .nav-item a {
            transform: scale(0.95);
        }
    }

    body {
         top: 0;
     }

    .sticky-nav {
        z-index: 1;
        position: fixed;
        width: 100%;
        opacity: 0.95;
        top: 0px;
        padding: 0px;
        background-image: radial-gradient(circle at center center, rgba(255,255,255, 0),rgb(1,46,107)),repeating-linear-gradient(405deg, rgb(1,46,107) 0px, rgb(1,46,107) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(315deg, rgb(10,64,101) 0px, rgb(10,64,101) 5px,transparent 5px, transparent 6px),linear-gradient(360deg, rgb(1,46,107),rgb(1,46,107));
    }

    .dropdown-menu, .dropdown-item {
        background-image: radial-gradient(circle at center center, rgba(255,255,255, 0),rgb(1,46,107)),repeating-linear-gradient(405deg, rgb(1,46,107) 0px, rgb(1,46,107) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(315deg, rgb(10,64,101) 0px, rgb(10,64,101) 5px,transparent 5px, transparent 6px),linear-gradient(360deg, rgb(1,46,107),rgb(1,46,107));
    }

    .navbar .navbar-brand a {
        padding: 1rem 0;
        display: block;
        text-decoration: none;
    }

    .navbar-brand {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 1.8rem;
        color: $blanco;
        margin-left: 6%;
    }

    .navbar-toggler {
        border: none;
        padding: 10px 6px;
        outline: none;
    }

    .navbar-toggler span {
        display: block;
        width: 22px;
        height: 2px;
        border: 1px;
        background: $blanco;
    }

    .navbar-toggler span + span {
        margin-top: 4px;
        width: 22px;
    }

    .navbar-toggler span + span + span {
        width: 22px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.2rem 1.2rem;
        font-size: 1.2rem;
        position: relative;

        @media (max-width: 1600px) {
            padding: 1.2rem 1.1rem;
        }

        @media (max-width: 1200px) {
            padding: 1.2rem 0.9rem;
        }
    }